body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #2a2a2a;
}

h1 {
  margin: 0;
  color: #ffffff;
}

.nav {
  margin: 10px 0;
}

.nav-link {
  color: #00aaff;
  cursor: pointer;
  margin-right: 10px;
}

#search {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  background-color: #333333;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0 5px;
}

.price {
  font-size: 1.2em;
  color: #00ff77;
}

button {
  background-color: #00aaff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

.close {
  float: right;
  cursor: pointer;
  color: #ffffff;
}

/* swipe */

.product-images-container {
    position: relative;
    width: 100%;  /* Container adapts to the width of images */
    overflow: hidden;  /* Hide images that are not visible */
  }

  .product-images {
    position: relative;
    height: auto;
  }

  .product-image {
    position: absolute;
    top: 0;
    left: 100%; /* Start each image outside the view (to the right) */
    width: 100%;  /* Adjust width to container */
    opacity: 0;
    transition: all 0.5s ease; /* Transition for smooth sliding and opacity */
  }

  .product-image.active {
    left: 0; /* Move the active image into view */
    opacity: 1; /* Fully visible */
  }

  .product-image.prev {
    left: -100%; /* Move previous image out of view to the left */
  }

  .product-image.next {
    left: 100%; /* Prepare next image for animation from the right */
  }
